﻿
@using MVC_DataBase.DATA
@model IEnumerable<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Employee</h2>
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>@Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>@Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
       {
        @foreach (var employee in Model) 
           {
            <tr>
            <td>@Html.DisplayFor(modelItem => employee.FirstName)
            </td>
            <td>@Html.DisplayFor(modelItem => employee.LastName)
            </td>
            <td>@Html.DisplayFor(modelItem => employee.Department)
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { id=employee.Id }) |
                @Html.ActionLink("Details", "Details", new { id=employee.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=employee.Id })
            </td>
            </tr>
           }
       }
       else
       {
           <tr>
           <td><h2>NO DETA</h2></td>
           <td></td>
           <td></td>
           <td></td>
           </tr>
       }
        
    </table>